# 依赖目录
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# 构建输出
dist/
dist-ssr/
*.local

# 环境变量
.env
.env.local
.env.*.local

# 日志
logs
*.log

# 编辑器
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# 测试覆盖
coverage/
*.lcov

# 系统文件
Thumbs.db