/* src/assets/styles/index.css - 主样式文件 */
@import './reset.css';
@import './variables.css';
@import './layout.css';

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  min-height: 100vh;
  -webkit-font-smoothing: antialiased; /* 字体平滑 */
  -moz-osx-font-smoothing: grayscale;
}

#app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}